.jumbotron{
	margin: 0px auto;
	padding: 90px 50px;
	color:floralwhite;
	background-color: #5c5c8a;
}

.row-content{
	align-items: center;
	margin:0 px;
	padding: 70px 0px;
	border-bottom: 1px ridge;
}
.row-footer{
	margin: 0px auto;
	padding: 90px 0px;
	color:black;
	background-color: #5c5c8a;
}

.row-content{
	align-items: center;
	margin:0 px;
	padding: 70px 0px;
	border-bottom: 1px ridge;
}
.row-footer{
	background-color: #ccccff;
	margin: 0px auto;
	padding: 20px 0px ;
}
.address{
	font-size: 80%;
}
.row-history{
	margin: 0px auto;
	padding: 70px 0px;
	border-bottom: 1px ridge;
}
.row-content{
	margin: 0px auto;
	padding-top: 50px;
}

